# OS files
#####################
.DS_Store

# Python
#####################
venv
__pycache__
*.pyc

# C++
#####################
*.out

# IDE
#####################
.vscode

# Obsidian
#####################
.obsidian

# Misc
#####################
_local
