# OS files
#####################
.DS_Store

# Python
#####################
venv
__pycache__
*.pyc
.mypy_cache

# C++
#####################
*.out

# Scala
#####################
.metals

# IDE
#####################
.vscode
